body
{
    color: hsla(0, 0%, 4%, 0.863);
    text-align: justify-all;
    font-family: arial; 
}

#cabecera
{
    background-color: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0);
    color: white;
    font font-weight: bold;
    width: 100%;
    padding: 1em;
    text-align: :left;
    border: 0px solid #ddd;
    margin: 0 auto;
}

#cabecera #tagline
{
    padding: 0;
    font-weight: normal;
    font-size: 15px;
    margin: 0px;
}

#container
{
    width: 100%;
    padding: 0%;
    text-align: justify;
    border: 0px solid #ddd;
    margin: auto;
}
