body
{
    color: rgb(255, 115, 0);
    text-align: left;
    font-family: arial; 
}

#cabecera
{
    background-color: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0);
    color: white;
    font font-weight: bold;
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#cabecera #tagline
{
    padding: 0;
    font-weight: normal;
    font-size: 0px;
    margin: 0px;
}

#container
{
    width: 70%;
    padding: 0%;
    text-align: left;
    border: 10px solid #ddd;
    margin: 0%;
}
